.upcoming_wrapper{
    width: 100%;
    .main_wrapper{
        width: 100%;
        flex-wrap: wrap;
        
        .details_area{
            flex: 0 0 100%;
            width: 100%;
            padding-top: 0;
            padding-left: 0;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            img{
                width: 100%;
            }
            .card_wrapper{
                width: 100%;
                flex: 0 0 100%;
                padding: 4rem 2rem 0 2rem;
            }
            
            
        }
    }
}

@media only screen and (max-width:779px){
    .upcoming_wrapper{
        .main_wrapper{
            .heading_area{
                flex: 0 0 100%;
                width: 100%;
                height: auto;
                margin-bottom: 5rem;
                order: 1;
            }
            .details_area{
                flex: 0 0 100%;
                width: 100%;
                order: 2;
            }
        }
    }
}
