.header{
    width: 100%;
    padding: 5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    &.inner{
        position: relative;
    }
    .details{
        width: 100%;
    }
    .logo{
        img{
            width: 16.3rem !important;
        }
    }
}

