.casting_wrap{
    width: 100%;    
    .details{
        width: 100%;        
        .card_details{
            width: 100%;
            padding: 0 2rem;
            .card_image_item{
                width: 100%;
                height: auto;
                padding: 0;
                border-radius: 8px;
                padding: 1rem;
                background-color: var(--DarkColor);
                position: relative;
                margin-bottom: 2rem;
                cursor: pointer;
                &.image_not_found{
                    height: 25rem;
                    img{
                        width: auto !important;
                        height: auto !important;
                    }
                }
                &::before{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0,0,0,.5);
                    content: "";
                    z-index: 1;
                    transition: all .5s linear;
                }
                &:hover{
                    &::before{
                        opacity: 0;
                    }
                }
            }
            
            
            
            img{
                width: 100% !important;
                height: auto !important;
                object-fit: cover;
                display: block;
            }
            .card_cast_details{
                width: 100%;
                background-color: var(--SecondaryColor);
                padding: 2rem 1rem 2rem 2rem;
                h3{
                    font-size: 1.6rem;
                    font-weight: 400;
                    margin-bottom: 0;
                }
                span{
                    font-size: 12px;
                    padding: 3px 8px;
                    border-radius: 5px;
                    background-color: var(--PrimaryColor);
                }
                
            }
            table{
                width: 100%;
                border-collapse: collapse;
                background-color: var(--DarkColor);
                tr{
                    width: 100%;
                    td{
                        font-size: 12px;
                        font-size: 12px;
                        padding: 8px 1rem 8px 1rem;
                        border-bottom: rgba(255,255,255,.1) 1px solid;
                        strong{
                            color: var(--PrimaryColor);
                        }
                    }
                }
            }
        }
    }
}

.casting_card_pop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(0,0,0,.9);
    .main_area{
        width: 30%;
        height: auto;
        background-color: var(--SecondaryColor);
        padding: 2rem;
        border-radius: 8px;
        position: relative;
        .close_cast{
            width: 24px;
            height: 24px;
            background-image: url(../../../../public//images/remove.png);
            position: absolute;
            top: -9px;
            right: -9px;
            cursor: pointer;
        }
        img{
            flex:0 0 30% !important;
            width: 30% !important;
            border-radius: 8px;
        }
        .details{
            flex: 0 0 70%;
            padding-left: 3rem;
            padding-top: 2rem;
            li{
                font-size: 14px;
                margin-bottom: 1rem;
                display: flex;
                strong{
                    color: var(--PrimaryColor);
                    flex: 0 0 40%;
                }
                h3{
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}